:root {
  --env-skybox-size: 1024px;
  --env-skybox-res: calc(1024px + 2px);
  --env-skybox-tex: url("../images/skybox/se_test1.png");
}

.env-viewport,
.env-skybox {
  transform-style: preserve-3d;
}

.env-viewport {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  perspective: 400px;
}

.env-skybox {
  width: var(--env-skybox-size);
  height: var(--env-skybox-size);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 400px) rotateX(0deg) rotateY(0deg);
  z-index: -50;
}

.skybox-ft,
.skybox-bk,
.skybox-lf,
.skybox-rt,
.skybox-up,
.skybox-dn {
  background-image: var(--env-skybox-tex);
  background-size: 600%;
  width: var(--env-skybox-res);
  height: var(--env-skybox-res);
  position: absolute;
}

.skybox-ft {
  background-position: 0px 0px;
  transform: translateX(0px) translateY(0px) translateZ(-512px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}

.skybox-bk {
  background-position: -100% 0px;
  transform: translateX(0px) translateY(0px) translateZ(512px) rotateX(0deg) rotateY(180deg) rotateZ(0deg);
}

.skybox-lf {
  background-position: -40% 0px;
  transform: translateX(512px) translateY(0px) translateZ(0px) rotateX(0deg) rotateY(-90deg) rotateZ(0deg);
}

.skybox-rt {
  background-position: -20% 0px;
  transform: translateX(-512px) translateY(0px) translateZ(0px) rotateX(0deg) rotateY(90deg) rotateZ(0deg);
}

.skybox-up {
  background-position: -80% 0px;
  transform: translateX(0px) translateY(-512px) translateZ(0px) rotateX(-90deg) rotateY(0deg) rotateZ(0deg);
}

.skybox-dn {
  background-position: -60% 0px;
  transform: translateX(0px) translateY(512px) translateZ(0px) rotateX(90deg) rotateY(0deg) rotateZ(0deg);
}