DirectoryIndex index.php
ErrorDocument 404 /notfound.php

Options -Indexes
RewriteEngine On

<Files "pd_main.html">
    Require all denied
</Files>

<IfModule mod_headers.c>
    Header always set Cache-Control "no-cache, no-store, must-revalidate"
    Header always set Pragma "no-cache"
    Header always set Expires "0"
</IfModule>

<FilesMatch "\.(mp3|wav|png|jpg|ttf|otf)$">
    Header unset Cache-Control
    Header unset Pragma
    Header unset Expires
    Header set Cache-Control "max-age=2592000, public"
</FilesMatch>