.activity-icon {
    background-image: url("../ui/texturemappings/activityiconwin32.png");
    background-repeat: no-repeat;
    --uv-x: 0.875;
    --uv-y: 0.75;
    width: 64px; height: 64px;
    position: fixed; right: 96px; top: 64px;
    animation: activity-icon-anim 0.7s steps(1, end) infinite;
}

@keyframes activity-icon-anim {
    0%      { background-position: calc(0.8261719   / var(--uv-x) * 100%) calc(0.5585938   / var(--uv-y) * 100%); } /* frame 0  */
    4.762%  { background-position: calc(0.8261719   / var(--uv-x) * 100%) calc(0.2851563   / var(--uv-y) * 100%); } /* frame 1  */
    9.524%  { background-position: calc(0.8261719   / var(--uv-x) * 100%) calc(0.01171875  / var(--uv-y) * 100%); } /* frame 2  */
    14.286% { background-position: calc(0.6894531   / var(--uv-x) * 100%) calc(0.5585938   / var(--uv-y) * 100%); } /* frame 3  */
    19.048% { background-position: calc(0.6894531   / var(--uv-x) * 100%) calc(0.2851563   / var(--uv-y) * 100%); } /* frame 4  */
    23.810% { background-position: calc(0.6894531   / var(--uv-x) * 100%) calc(0.01171875  / var(--uv-y) * 100%); } /* frame 5  */
    28.571% { background-position: calc(0.5527344   / var(--uv-x) * 100%) calc(0.5585938   / var(--uv-y) * 100%); } /* frame 6  */
    33.333% { background-position: calc(0.5527344   / var(--uv-x) * 100%) calc(0.2851563   / var(--uv-y) * 100%); } /* frame 7  */
    38.095% { background-position: calc(0.5527344   / var(--uv-x) * 100%) calc(0.01171875  / var(--uv-y) * 100%); } /* frame 8  */
    42.857% { background-position: calc(0.4160156   / var(--uv-x) * 100%) calc(0.5585938   / var(--uv-y) * 100%); } /* frame 9  */
    47.619% { background-position: calc(0.4160156   / var(--uv-x) * 100%) calc(0.2851563   / var(--uv-y) * 100%); } /* frame 10 */
    52.381% { background-position: calc(0.2792969   / var(--uv-x) * 100%) calc(0.5585938   / var(--uv-y) * 100%); } /* frame 11 */
    57.143% { background-position: calc(0.4160156   / var(--uv-x) * 100%) calc(0.01171875  / var(--uv-y) * 100%); } /* frame 12 */
    61.905% { background-position: calc(0.1425781   / var(--uv-x) * 100%) calc(0.5585938   / var(--uv-y) * 100%); } /* frame 13 */
    66.667% { background-position: calc(0.2792969   / var(--uv-x) * 100%) calc(0.2851563   / var(--uv-y) * 100%); } /* frame 14 */
    71.429% { background-position: calc(0.005859375 / var(--uv-x) * 100%) calc(0.5585938   / var(--uv-y) * 100%); } /* frame 15 */
    76.190% { background-position: calc(0.2792969   / var(--uv-x) * 100%) calc(0.01171875  / var(--uv-y) * 100%); } /* frame 16 */
    80.952% { background-position: calc(0.1425781   / var(--uv-x) * 100%) calc(0.2851563   / var(--uv-y) * 100%); } /* frame 17 */
    85.714% { background-position: calc(0.005859375 / var(--uv-x) * 100%) calc(0.2851563   / var(--uv-y) * 100%); } /* frame 18 */
    90.476% { background-position: calc(0.1425781   / var(--uv-x) * 100%) calc(0.01171875  / var(--uv-y) * 100%); } /* frame 19 */
    95.238% { background-position: calc(0.005859375 / var(--uv-x) * 100%) calc(0.01171875  / var(--uv-y) * 100%); } /* frame 20 */
}